../build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/unique_lines.txt
/common/build/
/fabric/build/
/neoforge/build/
/build/tmp/
/build/publications/maven/pom-default.xml
/build/reports/problems/problems-report.html
/wiki/
/docs/
