../build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/unique_lines.txt
/.junie/memory/
/.codex
/.aiassistant/
/.ai/
/common/build/
/fabric/build/
/neoforge/build/
/build/tmp/jar/MANIFEST.MF
/build/tmp/sourcesJar/MANIFEST.MF
/build/tmp/publishMavenPublicationToMavenLocal/module-maven-metadata.xml
/build/tmp/publishMavenPublicationToMavenLocalRepository/module-maven-metadata.xml
/build/publications/maven/pom-default.xml
/build/reports/problems/problems-report.html
/wiki/
/research/
